.modal-content {
  position: relative;
  background-color: #ffffff50;
  padding: 40px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  animation: slideIn 0.7s ease-in-out forwards;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  font-size: 20px;

  &:hover {
    background: none;
    font-weight: 700;
  }
}
